.box-style-2 {
    
   width: fit-content;
    top: 3841px;
    left: 80px;
    gap: 0px;
    border-radius: 15px 0px 0px 0px;
    opacity: 0px;
    background-color: #F2E7DB;


}

.icons-images-4{
   
    height: 50px;
    width: 50px;
    margin-top: 32px;
    margin-left: 250px;
   
    
}



.btn-1{
    width: 144px;
    height: 40px;
    top: 3936px;
    left: 898px;
    padding: 5px;
    gap: 15px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
      
}
.btn-2{
    width: 231px;
    height: 40px;
    top: 3936px;
    left: 898px;
    padding: 5px;
    gap: 15px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;
      
}
@media only screen and (max-width: 992px) {
   
    .card-responsive{
        flex-direction: column;
    }
}